
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #E8E1DA;
    display: flex;
    

}



body aside {
    background-color: #4A1614;
    color: #E8E1DA;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:100VH;
    width:20%;
    position:fixed;
    top:0;
}

#logo {
    display: flex;
    align-items: center;
    gap: 5%;
    margin-bottom: 40px;
}

#logo div{
    flex:4;
}
#logo img{
    width:30%;
    height:50%;
    background: #E7A1AD;
    border-radius: 8px;
    flex:1;
    padding:6px;
}

#logo h2 {
    font-size: 18px;
    font-weight: 600;
}

#logo p {
    font-size: 13px;
    opacity: 0.8;
}

.nav-item .dropdown {
  display: none;
}

.nav-item .dropdown a {
  display: block;
  font-size: 0.9em;
  margin:5% 0 5% 10%;
  font-weight: 600;
  width:80%;
  border-bottom: 2px solid #4A1614;
}

.nav-item .dropdown.open {
  display: block;
}

.nav-item{
    width: 100%;
    margin:5% auto 0% 0%;
}


nav a {
    text-decoration: none;
    color: #E8E1DA;
    
    width: 100%;


}

div:has(>a.active) {
    background-color: rgba(231, 161, 173, 0.4);
    padding:2%;
    border-radius: 8px;
    
}

a.active{
    font-weight: bold;
}

nav a:hover {
    opacity: 0.5;
}



#sidebar-footer {
    font-size: .8em;
    opacity: 0.6;
    position:fixed;
    bottom:5%;
}

main {
    flex: 5;
    padding: 40px;
    margin:auto auto auto 25%;
}






#table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background-color: #f3c2ca; 
    border: 2px solid #4A1614;
    color:#4A1614;
}

#table thead {
    background-color: #4A1614;
    color: #E8E1DA;
}

#table th,
#table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #E8E1DA; 
}

#table tbody tr:nth-child(even) {
    background-color: #f3d6db; 
}

#table tbody tr:hover {
    background-color: #E7A1AD;
    color: #4A1614;
}

#table tr.selected td{
    background-color: #E7A1AD;
}
#table a:link{
    text-decoration:underline;
    color: #4A1614;
}

#table a:visited{
    color:#4A1614;
}
#table a:hover{
    color: #E8E1DA;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
    display: none;
    pointer-events: all;
}



#StudentFormContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height:70%;
    padding: 20px 25px;
    background: #f9dfe4;
    border: 2px solid #4A1614;
    border-radius: 10px;
    z-index: 2;
    display:none;
}

#StudentFormContainer form{
    display:flex;
    flex-direction: column;
    align-items: center;
}


#StudentFormContainer h3 {
    text-align: center;
    background-color: #4A1614;
    padding: 2%;
    border-radius: 5px;
    color: #E8E1DA;
    margin-bottom: 1em;
    font-size: 1.5em;
}


#StudentFormContainer form label {
    font-weight: bold;
    color: #4A1614;

}

#StudentFormContainer input {
    width: 100%;
    padding: 7px;
    border: 1px solid #E7A1AD; 
    border-radius: 5px;
    margin:0 auto 1em auto;
  
    
}

#InputContainer {
    width:50%;
    height:60%;
}






.ButtonContainer button:hover {
    opacity: 0.9;
}



#closeForm {
    background: #4A1614;
    color: #E8E1DA;
    margin-left: 10px;
}


.ButtonContainer{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
    gap:5%;
    
}

.ButtonContainer button{
    min-width:30%;
    padding: 8px 16px;
    border: 1px solid #4A1614;
    border-radius: 6px;
    background-color: #4A1614;
    color: #E8E1DA;
    cursor: pointer;
    font-weight: bold;
    margin-top: 2%;
}

.ButtonContainer #PermanentRemoval{
    display: none;
}

.edit{
    padding: 8px 16px;
    border: 1px solid #E8E1DA;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    background-color: #4A1614;
    color: #E8E1DA;
}

main #scheduleTable {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

main #scheduleTable th, 
main #scheduleTable td {
    border: 1px solid #ccc;
    padding: 10px;
}

main #scheduleTable th {
    background: #f4f4f4;
}