:root{
  --color-dark-brown: #4A1614;
  --color-medium-brown: #7A3A38;
  --color-pale-pink: #F2DADA;
  --color-accent-pink: #D8B4B4;
  --color-darker-pink: #E3AFAF;
  --color-off-white: #F5EFEA;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--color-off-white);
    display: flex;
}

body aside {
    background-color: var(--color-dark-brown);
    color: var(--color-off-white);
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:100VH;
    width:20%;
    position:fixed;
    top:0;
}

#logo {
    display: flex;
    align-items: center;
    gap: 5%;
    margin-bottom: 40px;
}

#logo div{
    flex:4;
}
#logo img{
    width:30%;
    height:50%;
    background: var(--color-darker-pink);
    border-radius: 8px;
    flex:1;
    padding:6px;
}

#logo h2 {
    font-size: 18px;
    font-weight: 600;
}

#logo p {
    font-size: 13px;
    opacity: 0.8;
}

.nav-item .dropdown {
  display: none;
}

.nav-item .dropdown a {
  display: block;
  font-size: 0.9em;
  margin:5% 0 5% 10%;
  font-weight: 600;
  width:80%;
  border-bottom: 2px solid var(--color-dark-brown);
}

.nav-item .dropdown.open {
  display: block;
}

.nav-item{
    width: 100%;
    margin:5% auto 0% 0%;
}

.active-parent {
    background-color: rgba(231, 161, 173, 0.4);
    padding: 2%;
    border-radius: 8px;
}
.active-dropdown {
    background-color: rgba(231, 161, 173, 0.25);
    border-radius: 8px;
    padding: 4% 2%;
    margin-top: 5px;
    font-weight: bold;
}
nav a {
    text-decoration: none;
    color: var(--color-off-white);
    width: 100%;
    font-weight: bold;
}

nav a:hover {
    opacity: 0.5;
}



#sidebar-footer {
    font-size: .8em;
    opacity: 0.6;
    position:fixed;
    bottom:5%;
}

main {
    flex: 5;
    padding: 40px;
    margin:auto auto auto 25%;
}






#ViewAllTable {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background-color: var(--color-pale-pink); 
    border: 2px solid var(--color-dark-brown);
    color:var(--color-dark-brown);
}

#ViewAllTable thead {
    background-color: var(--color-dark-brown);
    color: var(--color-off-white);
}

#ViewAllTable th,
#ViewAllTable td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid var(--color-off-white); 
}

#ViewAllTable tbody tr:nth-child(even) {
    background-color: var(--color-accent-pink); 
}

#ViewAllTable tbody tr:hover {
    background-color: var(--color-darker-pink);

}

#ViewAllTable tr.selected td{
    background-color: var(--color-darker-pink);
}
#ViewAllTable a:link{
    text-decoration:underline;
    color: var(--color-dark-brown);
}

#ViewAllTable a:visited{
    color:var(--color-dark-brown);
}
#ViewAllTable a:hover{
    color: var(--color-off-white);
}
#ScheduleTable {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    background-color: var(--color-pale-pink); 
    border: 2px solid var(--color-dark-brown);
    color:var(--color-dark-brown);
}
#ScheduleTable tbody td:hover {
    background-color: var(--color-darker-pink);
    color: var(--color-dark-brown);
}
#ScheduleTable tbody td:first-child:hover {
    background-color: var(--color-dark-brown);
    color: var(--color-off-white);
}
#ScheduleTable thead{
    background-color: var(--color-dark-brown);
    color: var(--color-off-white);
}
#ScheduleTable thead th{
    border: 1px solid Var(--color-off-white); 
    padding: 12px;
    text-align: left;
}

#ScheduleTable .time{
    background-color: var(--color-dark-brown);
    color: var(--color-off-white);
    border: 1px solid var(--color-off-white); 
}

#ScheduleTable tbody td {
    padding: 12px;
    text-align: left;
    border: 1px solid var(--color-dark-brown); 
}



#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
    display: none;
    pointer-events: all;
}



#StudentFormContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height:50%;
    padding: 20px 25px;
    background-color: var(--color-pale-pink);
    border: 2px solid var(--color-dark-brown);
    border-radius: 10px;
    z-index: 2;
    display:none;
}

#StudentFormContainer form{
    display:flex;
    flex-direction: column;
    align-items: center;
}


#StudentFormContainer h3 {
    text-align: center;
    background-color: var(--color-dark-brown);
    padding: 2%;
    border-radius: 5px;
    color: var(--color-off-white);
    margin-bottom: 1em;
    font-size: 1.5em;
}


#StudentFormContainer form label {
    font-weight: bold;
    color: var(--color-dark-brown);

}

#StudentFormContainer input {
    width: 100%;
    padding: 7px;
    border: 1px solid var(--color-darker-pink); 
    border-radius: 5px;
    margin:0 auto 1em auto;
  
    
}
#InputContainer {
    width:50%;
    height:60%;
}
.ButtonContainer button:hover {
    opacity: 0.9;
}
#closeForm {
    background: var(--color-dark-brown);
    color: var(--color-off-white);
    margin-left: 10px;
}
.ButtonContainer{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
    gap:5%;
    
}
.ButtonContainer button{
    min-width:30%;
    padding: 8px 16px;
    border: 1px solid var(--color-dark-brown);
    border-radius: 6px;
    background-color: var(--color-dark-brown);
    color: var(--color-off-white);
    cursor: pointer;
    font-weight: bold;
    margin-top: 2%;
}
.ButtonContainer #PermanentRemoval{
    display: none;
}
.edit{
    padding: 8px 16px;
    border: 1px solid var(--color-off-white);
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    background-color: var(--color-dark-brown);
    color: var(--color-off-white);
}

.edit:hover{
    background-color: var(--color-off-white);
    color: var(--color-dark-brown);
}

